# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
.zip
.rar
.idea
*.iml
.mymetadata
.checkstyle


target
/target/
/target/*


# bin Files #
/bin/


# indexes Files #
/indexes/*


# svn Files #
.svn
.svn/*
/.svn
/*.svn


# Settings Files #
.settings
.settings/*
/.settings
/*.settings


# project Files #
.project
*.project
/*.project


# class Files #
.class
*.class
/*.class
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*


# classpath Files #
.classpath
*.classpath
/.classpath
/*.classpath


# test-output Files #
.test-output
/.test-output
/*.test-output


/logs
/temp


###############################
# ptool #
/ptool/.settings
/ptool/*.project
/ptool/*.classpath
/ptool/logs
/ptool/temp
/ptool/bin


# pdb #
/pdb/.settings
/pdb/*.project
/pdb/*.classpath
/pdb/logs
/pdb/temp
/pdb/bin


# pcore #
/pcore/.settings
/pcore/*.project
/pcore/*.classpath
/pcore/logs
/pcore/temp
/pcore/bin


# pcms #
/pcms/.settings
/pcms/*.project
/pcms/*.classpath
/pcms/logs
/pcms/temp
/pcms/bin


# pactivit #
/pactivit/.settings
/pactivit/*.project
/pactivit/*.classpath
/pactivit/logs
/pactivit/temp
/pactivit/bin


# pfastdfs #
/pfastdfs/.settings
/pfastdfs/*.project
/pfastdfs/*.classpath
/pfastdfs/logs
/pfastdfs/temp
/pfastdfs/bin


# pftp #
/pftp/.settings
/pftp/*.project
/pftp/*.classpath
/pftp/logs
/pftp/temp
/pftp/bin


# pjob #
/pjob/.settings
/pjob/*.project
/pjob/*.classpath
/pjob/logs
/pjob/temp
/pjob/bin


# psys #
/psys/.settings
/psys/*.project
/psys/*.classpath
/psys/logs
/psys/temp
/psys/bin


# ptask #
/ptask/.settings
/ptask/*.project
/ptask/*.classpath
/ptask/logs
/ptask/temp
/ptask/bin


# pactyw #
/pactyw/.settings
/pactyw/*.project
/pactyw/*.classpath
/pactyw/logs
/pactyw/temp
/pactyw/bin


# pconfig #
/pconfig/.settings
/pconfig/*.project
/pconfig/*.classpath
/pconfig/logs
/pconfig/temp
/pconfig/bin


# pmsg #
/pmsg/.settings
/pmsg/*.project
/pmsg/*.classpath
/pmsg/logs
/pmsg/temp
/pmsg/bin


# pno #
/pno/.settings
/pno/*.project
/pno/*.classpath
/pno/logs
/pno/temp
/pno/bin


# putil #
/putil/.settings
/putil/*.project
/putil/*.classpath
/putil/logs
/putil/temp
/putil/bin


# ptest #
/ptest/.settings
/ptest/*.project
/ptest/*.classpath
/ptest/logs
/ptest/temp
/ptest/bin





/putil/src/main/webapp/WEB-INF/classes/META-INF
/putil/src/main/webapp/WEB-INF/classes/META-INF
