# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
.zip
.rar
.idea
*.iml
.mymetadata
.checkstyle


target
/target/
/target/*


# bin Files #
/bin/


# indexes Files #
/indexes/*


# svn Files #
.svn
.svn/*
/.svn
/*.svn


# Settings Files #
.settings
.settings/*
/.settings
/*.settings


# project Files #
.project
*.project
/*.project


# class Files #
.class
*.class
/*.class
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*


# classpath Files #
.classpath
*.classpath
/.classpath
/*.classpath


# test-output Files #
.test-output
/.test-output
/*.test-output


/logs
/temp


# wf-mplatformxx-proxy #
# /wf-mplatformxx-proxy/.settings
# /wf-mplatformxx-proxy/*.project
# /wf-mplatformxx-proxy/*.classpath
# /wf-mplatformxx-proxy/logs
# /wf-mplatformxx-proxy/temp
# /wf-mplatformxx-proxy/bin




